apis_root_path: ""
doc_servers:
  - url: "http://localhost:8000"
    description: "Local environment"
auth:
  authentication:
    scopes:  {}
    tokenUrl:  "http://keycloak:8080/auth/realms/kcrealm/protocol/openid-connect/token"
    publicCerts:
        - "http://keycloak:8080/auth/realms/kcrealm/protocol/openid-connect/certs"
    username_claim: "sub"
#ssh_credentials:
#  type: "SSHCA"
#  url: "http://deic-sshca:2280/demoCA"
#  max_connections: 500
ssh_credentials:
  type: "SSHStaticKeys"
  keys:
    fireuser:
      private_key: "secret_file:/run/secrets/ssh_private_key_fireuser"
    firesrv:
      private_key: "secret_file:/run/secrets/ssh_private_key_firesrv"
      passphrase: "secret_file:/run/secrets/ssh_passphrase_firesrv"
clusters:
- name: "cluster-slurm-api"
  ssh:
    host: "192.168.240.2"
    port: 22
    max_clients: 500
    timeout:
      connection: 5
      login: 5
      command_execution: 5
      idle_timeout: 60
      keep_alive: 5
  scheduler:
    type: "slurm"
    connection_mode: "rest"
    version: "24.11.0"
    api_url: "http://192.168.240.2:6820"
    api_version: "0.0.42"
    timeout: 10
  service_account:
    client_id: "firecrest-health-check"
    secret: "secret_file:/run/secrets/service_account_client_secret"
  probing:
    interval_check: 120
    startup_grace_period: 300
    services:
      scheduler:
        timeout: 20
      filesystems:
        timeout: 20
  datatransfer_jobs_directives:
    - "#SBATCH --constraint=mc"
    - "#SBATCH --nodes=1"
    - "#SBATCH --time=0-00:15:00"
  file_systems:
    - path: '/home'
      data_type: 'users'
      default_work_dir: true
- name: "cluster-slurm-ssh"
  ssh:
    host: "192.168.240.2"
    port: 22
    max_clients: 500
    timeout:
      connection: 5
      login: 5
      command_execution: 5
      idle_timeout: 60
      keep_alive: 5
  scheduler:
    type: "slurm"
    version: "24.11.0"
    timeout: 10
    connection_mode: "ssh"
  service_account:
    client_id: "firecrest-health-check"
    secret: "secret_file:/run/secrets/service_account_client_secret"
  probing:
    interval_check: 120
    services:
      ssh:
        timeout: 5
      filesystems:
        timeout: 5
  datatransfer_jobs_directives:
    - "#SBATCH --nodes=1"
    - "#SBATCH --time=0-00:15:00"
    - "#SBATCH --account={account}"
  file_systems:
    - path: '/home'
      data_type: 'users'
      default_work_dir: true
- name: "cluster-pbs"
  ssh:
    host: "192.168.240.4"
    port: 22
    max_clients: 500
    timeout:
      connection: 5
      login: 5
      command_execution: 5
      idle_timeout: 60
      keep_alive: 5
  scheduler:
    type: "pbs"
    version: "23.06.06"
    timeout: 10
  service_account:
    client_id: "firecrest-health-check"
    secret: "secret_file:/run/secrets/service_account_client_secret"
  probing:
    interval_check: 120
    startup_grace_period: 300
    services:
      ssh:
        timeout: 10
      scheduler:
        timeout: 20
      filesystems:
        timeout: 10
  datatransfer_jobs_directives:
      - "#PBS -l nodes=1:ppn=1"
      - "#PBS -l walltime=00:15:00"
      - "#PBS -V"
  file_systems:
    - path: '/home'
      data_type: 'users'
      default_work_dir: true
data_operation:
  max_ops_file_size: 1048576 # 1M
  data_transfer:
    service_type: "streamer"
    host: "0.0.0.0"
    port_range: [5665, 5666]
    public_ips:
      - "localhost"
    wait_timeout: 43200  # 12h
    inbound_transfer_limit: 5368709120 # 5GB
  # data_transfer:
  #  service_type: "wormhole"
  #data_transfer:
  #    service_type: "s3"
  #    name: "s3-storage"
  #    private_url: "http://192.168.240.19:9000"
  #    public_url: "http://localhost:9000"
  #    access_key_id: "storage_access_key"
  #    secret_access_key: "secret_file:/run/secrets/s3_secret_access_key"
  #    region: "us-east-1"
  #    ttl: 604800
  #    multipart:
  #      use_split: false
  #      max_part_size: 1073741824 # 1G
  #      parallel_runs: 3
  #      tmp_folder: "tmp"
  #    probing:
  #      interval: 60
  #      timeout: 10
  
